@font-face {
    font-family: "Montserrat";
    src: url(/src/assets/fonts/static/Montserrat-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Titillium";
    src: url(/src/assets/fonts/static/Montserrat-Bold.ttf) format("truetype");
    font-weight: 600;
    font-style: bold;
  }
  
  @font-face {
    font-family: "Titillium";
    src: url(/src/assets/fonts/static/Montserrat-MediumItalic.ttf) format("truetype");
    font-weight: 400;
    font-style: italic;
  }
  