@use '../../Styles/global' as *;
@use '../../Styles/mixins' as *;

a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline;
    color: white;
}

a:active{
    border-bottom: 1px dotted white; 
    
}

.active{
    color: green;
    font-size: 24px;
}

.header{
    &__container{
    display:flex;
    flex-direction: row;
    padding: 24px 40px;
    margin: 0px 48px 48px 48px;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 48px;
    border-bottom: 1px solid green;
    }
    &__logo{
        height: 50px;
    }
    &__nav{
        display: flex;
        flex-direction: row;
        gap: 32px; 
        align-items:flex-end;
    }
    &__icon{
        padding-right: 10px;
        margin: 0;
        height: 12px;
    }

    &__nav-back{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
    }

    &__items{
        font-family: 'Courier New', Courier, monospace;
    }

}