@use '../../Styles/global' as *;
@use '../../Styles/mixins' as *;

a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline;
    color: white;
}

a:active{
    border-bottom: 1px dotted white; 
    
}

.active{
    color: green;
    font-size: 24px;
}

.header{
    &__container{
    display:flex;
    flex-direction: row;
    padding: 24px 40px;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 48px;
    }
    &__logo{
        height: 50px;
    }
    &__nav{
        display: flex;
        flex-direction: row;
        gap: 32px; 
        align-items:flex-end;
    }

}

.icon{
    padding-right: 8px;
}